# Copy this file to .env and fill in your values
# DO NOT commit the actual .env file to Git

MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<AppName>
PORT=5000
PYTHON_ML_URL=http://localhost:3000

# Flask ML Service
FLASK_PORT=3000
FLASK_DEBUG=0
FLASK_ENV=production
